#Terraform
.terraform/
*.tfvars
!*.tfvars.example
*.tfstate
*.tfstate.*
terraform/hyperv/build/

#Kubernetes
*.secret.yaml
kubeconfig
*.kubeconfig

#Artifacts
.DS_Store
*.log
.env

#Images
*.iso
*.vhdx
*.img
*.qcow2


